<form action="/answer" method="get">
<label for="fname">&#128530 Hello, I am your coach, what did you want to tell me? &#128530 </label>
  <input type="text" name="question" placeholder="ask me">
  <input type="submit">
</form>
